In [1]:
import numpy as np
import pandas as pd
import requests as req
import shapely as shp

from pandana.loaders import osm
from time import sleep

### We need to give OSM an area to consider for the query. We do this by creating a bounding box around the area we are interested in; in this case, Portland

In [2]:
# save the bounding box--PDX
bbox = {'xmax': -122.2575, 'ymax': 45.7859, 'xmin': -123.1095, 'ymin': 45.1453}
nw = shp.geometry.Point(bbox['xmin'], bbox['ymax'])
sw = shp.geometry.Point(bbox['xmin'], bbox['ymin'])
se = shp.geometry.Point(bbox['xmax'], bbox['ymin'])
ne = shp.geometry.Point(bbox['xmax'], bbox['ymax'])

In [4]:
pd.set_option('max_columns', None)

### OSM has a lot of data and we don't want to be overwhelmed. We can use the taginfo api to get useful meta data from OSM

In [5]:
# get the most frequently used amenity tag in OSM from the taginfo api
r = req.get('https://taginfo.openstreetmap.org/api/4/tags/popular?query=amenity')
r.status_code

200

#### Convert the json to a dataframe for easy use

In [6]:
tags = pd.concat(pd.DataFrame.from_dict(d, orient='index').transpose() for d in r.json()['data'])

In [7]:
tags.sort_values(by='count_nodes', ascending=False)

,value,projects,count_ways_fraction,count_relations_fraction,count_relations,count_ways,count_nodes,count_all,in_wiki,count_all_fraction,count_nodes_fraction,key
0,bench,11,0,0,21,8367,784816,793204,1,0.0002,0.0063,amenity
0,restaurant,15,0.0003,0.0002,856,149529,623979,774364,1,0.0002,0.005,amenity
0,place_of_worship,15,0.0011,0.0009,4666,465134,439363,909163,1,0.0002,0.0036,amenity
0,school,15,0.001,0.0027,13988,442028,403748,859764,1,0.0002,0.0033,amenity
0,parking,11,0.0049,0.0047,24794,2161368,303495,2489657,1,0.0005,0.0025,amenity
0,cafe,15,0.0001,0,210,39225,257569,297004,1,0.0001,0.0021,amenity
0,fuel,16,0.0002,0.0003,1344,101883,245377,348604,1,0.0001,0.002,amenity
0,post_box,13,0,0,2,100,230804,230906,1,0.0001,0.0019,amenity
0,waste_basket,9,0,0,4,391,224749,225144,1,0,0.0018,amenity
0,fast_food,14,0.0001,0,248,53883,224115,278246,1,0.0001,0.0018,amenity
0,bank,16,0.0001,0.0001,362,50832,212603,263797,1,0.0001,0.0017,amenity
0,pharmacy,15,0.0001,0,82,23935,195352,219369,1,0,0.0016,amenity
0,recycling,13,0,0,140,13372,178499,192011,1,0,0.0014,amenity
0,bicycle_parking,11,0.0001,0,100,26427,169407,195934,1,0,0.0014,amenity
0,drinking_water,12,0,0,0,802,152864,153666,1,0,0.0012,amenity
0,toilets,14,0.0001,0,98,39860,152704,192662,1,0,0.0012,amenity
0,atm,15,0,0,7,471,130622,131100,1,0,0.0011,amenity
0,post_office,14,0,0,174,21753,121790,143717,1,0,0.001,amenity
0,bar,15,0,0,64,16681,114055,130800,1,0,0.0009,amenity
0,pub,16,0.0001,0,119,26564,112055,138738,1,0,0.0009,amenity
0,grave_yard,11,0.0001,0.0003,1515,56499,104600,162614,1,0,0.0008,amenity
0,telephone,13,0,0,1,113,100016,100130,1,0,0.0008,amenity
0,hunting_stand,10,0,0,1,381,98447,98829,1,0,0.0008,amenity
0,vending_machine,9,0,0,8,217,96689,96914,1,0,0.0008,amenity
0,kindergarten,14,0.0002,0.0005,2600,87287,95636,185523,1,0,0.0008,amenity
0,shelter,13,0.0002,0,139,80001,95436,175576,1,0,0.0008,amenity
0,hospital,15,0.0001,0.0005,2620,58124,78945,139689,1,0,0.0006,amenity
0,police,13,0.0001,0.0001,661,30069,71310,102040,1,0,0.0006,amenity
0,fountain,13,0,0,222,18314,62428,80964,1,0,0.0005,amenity
0,doctors,13,0,0,245,16344,60173,76762,1,0,0.0005,amenity
...,...,...,...,...,...,...,...,...,...,...,...,...
0,bus_station,14,0,0.0001,316,14788,28661,43765,1,0,0.0002,amenity
0,parking_space,6,0.0002,0,257,84155,27469,111881,1,0,0.0002,amenity
0,bicycle_rental,12,0,0,30,918,26575,27523,1,0,0.0002,amenity
0,taxi,13,0,0,12,2599,25481,28092,1,0,0.0002,amenity
0,public_building,9,0.0002,0.0002,1170,66971,23510,91651,1,0,0.0002,amenity
0,veterinary,12,0,0,43,6291,19724,26058,1,0,0.0002,amenity
0,marketplace,9,0.0001,0.0001,546,25494,15711,41751,1,0,0.0001,amenity
0,cinema,14,0,0,73,7005,15094,22172,1,0,0.0001,amenity
0,theatre,13,0,0.0001,309,12919,14670,27898,1,0,0.0001,amenity
0,bbq,9,0,0,9,755,14001,14765,1,0,0.0001,amenity
0,college,14,0.0001,0.0002,1253,27777,13689,42719,1,0,0.0001,amenity
0,charging_station,7,0,0,2,147,13433,13582,1,0,0.0001,amenity
0,nightclub,12,0,0,31,3993,12785,16809,1,0,0.0001,amenity
0,toilet,1,0,0,0,854,12493,13347,0,0,0.0001,amenity
0,car_rental,11,0,0,15,2768,12402,15185,1,0,0.0001,amenity
0,grit_bin,7,0,0,0,18,12038,12056,1,0,0.0001,amenity
0,ice_cream,8,0,0,18,1714,11769,13501,1,0,0.0001,amenity
0,ferry_terminal,11,0,0,64,1330,11562,12956,1,0,0.0001,amenity
0,shower,7,0,0,6,880,11388,12274,1,0,0.0001,amenity
0,clock,6,0,0,3,248,10919,11170,1,0,0.0001,amenity
0,university,15,0.0001,0.0005,2459,31891,10892,45242,1,0,0.0001,amenity
0,water_point,5,0,0,0,96,10838,10934,1,0,0.0001,amenity
0,mobile_money_agent,0,0,0,0,9,10067,10076,0,0,0.0001,amenity
0,courthouse,12,0,0.0001,498,7965,9079,17542,1,0,0.0001,amenity
0,driving_school,7,0,0,45,2186,8619,10850,1,0,0.0001,amenity
0,nursing_home,9,0,0.0001,397,5846,7708,13951,1,0,0.0001,amenity
0,arts_centre,12,0,0.0001,271,7218,7562,15051,1,0,0.0001,amenity
0,embassy,11,0,0,77,3682,6255,10014,1,0,0.0001,amenity
0,swimming_pool,6,0.0001,0,14,26482,6009,32505,1,0,0,amenity
0,childcare,2,0,0,61,5664,4872,10597,1,0,0,amenity

In [8]:
# the loader for some reason can't take a list of tags so we will have to iterate and concat
tag_pairs = tags.apply(lambda row: row['key'] + '=' + row['value'], axis=1).tolist()

In [9]:
tag_pairs

['amenity=arts_centre',
 'amenity=atm',
 'amenity=bank',
 'amenity=bar',
 'amenity=bbq',
 'amenity=bench',
 'amenity=bicycle_parking',
 'amenity=bicycle_rental',
 'amenity=bus_station',
 'amenity=cafe',
 'amenity=car_rental',
 'amenity=car_wash',
 'amenity=charging_station',
 'amenity=childcare',
 'amenity=cinema',
 'amenity=clinic',
 'amenity=clock',
 'amenity=college',
 'amenity=community_centre',
 'amenity=courthouse',
 'amenity=dentist',
 'amenity=doctors',
 'amenity=drinking_water',
 'amenity=driving_school',
 'amenity=embassy',
 'amenity=fast_food',
 'amenity=ferry_terminal',
 'amenity=fire_station',
 'amenity=fountain',
 'amenity=fuel',
 'amenity=grave_yard',
 'amenity=grit_bin',
 'amenity=hospital',
 'amenity=hunting_stand',
 'amenity=ice_cream',
 'amenity=kindergarten',
 'amenity=library',
 'amenity=marketplace',
 'amenity=mobile_money_agent',
 'amenity=nightclub',
 'amenity=nursing_home',
 'amenity=parking',
 'amenity=parking_entrance',
 'amenity=parking_space',
 'amenity=pharmacy',
 'amenity=place_of_worship',
 'amenity=police',
 'amenity=post_box',
 'amenity=post_office',
 'amenity=pub',
 'amenity=public_building',
 'amenity=recycling',
 'amenity=restaurant',
 'amenity=school',
 'amenity=shelter',
 'amenity=shower',
 'amenity=social_facility',
 'amenity=swimming_pool',
 'amenity=taxi',
 'amenity=telephone',
 'amenity=theatre',
 'amenity=toilet',
 'amenity=toilets',
 'amenity=townhall',
 'amenity=university',
 'amenity=vending_machine',
 'amenity=veterinary',
 'amenity=waste_basket',
 'amenity=waste_disposal',
 'amenity=water_point']

In [10]:
# we are only interested in some of these; let's filter now to spare the api
keepers = ['restaurant', 'cafe', 'pub', 'bar', 'theater', 'college', 'cinema', 'arts_centre', 'nightclub', 'university']
new_ls = []
for keeper in keepers:
    new_ls.append('amenity={}'.format(keeper))

In [11]:
new_ls

['amenity=restaurant',
 'amenity=cafe',
 'amenity=pub',
 'amenity=bar',
 'amenity=theater',
 'amenity=college',
 'amenity=cinema',
 'amenity=arts_centre',
 'amenity=nightclub',
 'amenity=university']

### Generally, the OSM api is not meant to be used over such a large area. In thise case since we are interested in such a small subset of data it will do. Still, the sleep time (t) might need adjusting in order to get the data back. Too long and you risk timing out, too short you might get throttled

In [16]:
def pdx_amenities(pairs):
    t = 4
    dfs = []
    for pair in pairs:
        try:
            df = osm.node_query(bbox['ymin'], bbox['xmin'], bbox['ymax'], bbox['xmax'], tags=pair).reset_index()
            keep_cols = ['id', 'lat', 'lon']
            if 'name'  in df.columns.tolist():
                keep_cols.append('name')
            df = df[keep_cols]
            df['amenity'] = pair.split('=')[1]
            dfs.append(df)
        except RuntimeError as e:
            print(pair + ': ')
            print(e)
        # try to avoid auto throttle
        sleep(t)
    return pd.concat(dfs, ignore_index=True)

In [17]:
test = pdx_amenities(new_ls)

amenity=theater:
OSM query results contain no data.

In [18]:
test.head(20)

           id        lat         lon                  name     amenity
0   287206333  45.534615 -122.916619               Swagath  restaurant
1   287207155  45.550412 -122.904555             Pho Tango  restaurant
2   323588282  45.431159 -122.564075              Gustav's  restaurant
3   324193662  45.504988 -122.619285        New Thai Blues  restaurant
4   324193669  45.497759 -122.614058              Pho Hung  restaurant
5   324207464  45.523454 -122.697037           Thai Orchid  restaurant
6   324207465  45.523463 -122.697231           Pizza Oasis  restaurant
7   324207469  45.524147 -122.698240      Uptown Billiards  restaurant
8   324207483  45.529349 -122.698433  Pepinos Mexican food  restaurant
9   324207484  45.529458 -122.698413     Little Big Burger  restaurant
10  324207489  45.532139 -122.698541       Tara Thai & Lao  restaurant
11  324207491  45.533250 -122.698601               Matador  restaurant
12  324207492  45.533468 -122.698605      Pastini Pastaria  restaurant
13  324207493  45.533630 -122.698613           Sushi ville  restaurant
14  324207502  45.531402 -122.698886                Be Won  restaurant
15  324207512  45.527777 -122.698713            Papa Haydn  restaurant
16  346105650  45.236178 -122.807115         Country Pride  restaurant
17  355041761  45.517628 -122.679612       Hop City Tavern  restaurant
18  355218818  45.511847 -122.678197                Murata  restaurant
19  355218908  45.513112 -122.675203            Plaza Deli  restaurant

In [19]:
test.groupby('amenity').size().sort_values(ascending=False)

amenity
restaurant     648
cafe           365
pub             95
bar             84
cinema          16
college         12
arts_centre      8
nightclub        6
university       2
dtype: int64

In [21]:
test.id.size

1236

In [22]:
# create some useful grouping
test['alias'] = test.apply(lambda row: 'food_drink' if row['amenity'] in ('restaurant', 'pub', 'bar') else 'entertainment' if row['amenity'] in ('cinema', 'arts_centre', 'nightclub', 'theater') else 'college' if row['amenity'] in ('college', 'university') else row['amenity'], axis=1)

In [23]:
test

,id,lat,lon,name,amenity,alias
0,287206333,45.534615,-122.916619,Swagath,restaurant,food_drink
1,287207155,45.550412,-122.904555,Pho Tango,restaurant,food_drink
2,323588282,45.431159,-122.564075,Gustav's,restaurant,food_drink
3,324193662,45.504988,-122.619285,New Thai Blues,restaurant,food_drink
4,324193669,45.497759,-122.614058,Pho Hung,restaurant,food_drink
5,324207464,45.523454,-122.697037,Thai Orchid,restaurant,food_drink
6,324207465,45.523463,-122.697231,Pizza Oasis,restaurant,food_drink
7,324207469,45.524147,-122.698240,Uptown Billiards,restaurant,food_drink
8,324207483,45.529349,-122.698433,Pepinos Mexican food,restaurant,food_drink
9,324207484,45.529458,-122.698413,Little Big Burger,restaurant,food_drink
10,324207489,45.532139,-122.698541,Tara Thai & Lao,restaurant,food_drink
11,324207491,45.533250,-122.698601,Matador,restaurant,food_drink
12,324207492,45.533468,-122.698605,Pastini Pastaria,restaurant,food_drink
13,324207493,45.533630,-122.698613,Sushi ville,restaurant,food_drink
14,324207502,45.531402,-122.698886,Be Won,restaurant,food_drink
15,324207512,45.527777,-122.698713,Papa Haydn,restaurant,food_drink
16,346105650,45.236178,-122.807115,Country Pride,restaurant,food_drink
17,355041761,45.517628,-122.679612,Hop City Tavern,restaurant,food_drink
18,355218818,45.511847,-122.678197,Murata,restaurant,food_drink
19,355218908,45.513112,-122.675203,Plaza Deli,restaurant,food_drink
20,357000733,45.526461,-122.678507,Park Kitchen,restaurant,food_drink
21,357342226,45.596808,-122.994014,Old Hichen Post,restaurant,food_drink
22,366029248,45.631301,-122.671930,Hidden House,restaurant,food_drink
23,470111658,45.534852,-122.642437,Costello's Travel CaffÃ©,restaurant,food_drink
24,471277940,45.517710,-122.651427,Nostrana,restaurant,food_drink
25,471773641,45.534852,-122.642351,Meiji-En,restaurant,food_drink
26,471782053,45.535315,-122.638291,Cha Cha Cha Taqueria,restaurant,food_drink
27,472581313,45.534684,-122.655847,Village Inn Pancake House,restaurant,food_drink
28,474382744,45.517766,-122.412068,Joseph's Swirl Sandwich,restaurant,food_drink
29,475360429,45.517910,-122.563869,McMenamins,restaurant,food_drink
...,...,...,...,...,...,...
1206,2353059150,45.497869,-122.920043,Regal Movies On TV Stadium 16,cinema,entertainment
1207,2451829394,45.585661,-122.404729,Liberty Theatre,cinema,entertainment
1208,2698295010,45.519021,-122.582783,Academy Theater,cinema,entertainment
1209,3639957956,45.627149,-122.668707,Regal City Center Stadium 12,cinema,entertainment
1210,3787073157,45.659016,-122.582615,Cinetopia 23,cinema,entertainment
1211,3857690114,45.518352,-122.681124,Regal Cinemas Fox Tower 10,cinema,entertainment
1212,4144996593,45.518031,-122.676255,Regal Cinemas Pioneer Place 6,cinema,entertainment
1213,4173741217,45.436990,-122.573689,Century Theatres,cinema,entertainment
1214,4308187458,45.536526,-122.407272,Power Station Theater,cinema,entertainment
1215,4664695825,45.508265,-122.665386,Empirical Theater,cinema,entertainment
1216,4702902154,45.597533,-122.669303,Jubitz Cinema,cinema,entertainment
1217,4732574349,45.536153,-122.853850,Wunderland,cinema,entertainment
1218,4760705467,45.588536,-122.595762,Hollywood Theatre,cinema,entertainment
1219,4762815771,45.430641,-122.831868,Cinetopia,cinema,entertainment
1220,663797625,45.523604,-122.677702,Augen Gallery,arts_centre,entertainment
1221,2174824165,45.525355,-122.680326,J. Pepin,arts_centre,entertainment
1222,3699342446,45.593637,-122.994355,NaN,arts_centre,entertainment
1223,4017520605,45.526432,-122.682517,Gallery 114,arts_centre,entertainment
1224,4035505066,45.514820,-122.676571,Justice Center Sidewalk Gallery,arts_centre,entertainment
1225,4120438952,45.557910,-122.662078,The Granite,arts_centre,entertainment
1226,5054795291,45.525742,-122.680623,Williamson | Knight,arts_centre,entertainment
1227,5057264498,45.525405,-122.680328,Basic Space,arts_centre,entertainment
1228,664314353,45.551423,-122.675790,Mississippi Studios,nightclub,entertainment
1229,891315831,45.522655,-122.656840,Doug Fir,nightclub,entertainment
1230,2616498945,45.495374,-122.608037,Devil's Point,nightclub,entertainment
1231,4425683094,45.628001,-122.615084,Groove Nation,nightclub,entertainment
1232,4563881350,45.516341,-122.629827,Aalto Lounge,nightclub,entertainment
1233,4868636031,45.518937,-122.482471,Caberet II,nightclub,entertainment
1234,3775763196,45.521117,-122.679498,Oregon State University,university,college
1235,3780436030,45.529567,-122.683571,Willamette University,university,college

### Write the data to a csv for later use

In [32]:
test.to_csv('./data/osm.csv', index=False)