In [1]:
import geopandas as gpd
import numpy as np
import pandas as pd
import shapely as sh

### This property data comes with lat and lon coordinates. Here we convert this data to shapefile format so we can easily view/map the points with GIS software

In [2]:
pd.set_option('max_columns', None)

In [3]:
df = pd.read_excel('./data/portland_properties.xlsx')

In [4]:
df.head(2)

    Latitude   Longitude  PropertyID
0  45.781812 -122.535763     8021379
1  45.620350 -122.507506     9096130

In [5]:
df = df.rename(columns=lambda x: x.lower())

In [6]:
df.head(2)

    latitude   longitude  propertyid
0  45.781812 -122.535763     8021379
1  45.620350 -122.507506     9096130

In [7]:
# create a geometry for each lat lon pair
geoms = df.apply(lambda row: sh.geometry.Point(row['longitude'], row['latitude']), axis=1)

In [8]:
# create a geodataframe to hold the data plus the new geometries
geodf = gpd.GeoDataFrame(df, geometry=geoms)

In [9]:
# discard the now uncessary lat lons
geodf.drop(['longitude', 'latitude'], axis=1, inplace=True)

In [10]:
geodf.head(2)

   propertyid                         geometry
0     8021379    POINT (-122.535763 45.781812)
1     9096130  POINT (-122.5075064 45.6203498)

In [11]:
# tell the geodf what projection this geometry is in
geodf.crs = {'init': 'epsg:4326'}

In [13]:
# write geodf to esri shapefile
geodf.to_file('./data/properties', driver='ESRI Shapefile')